body{
	
    margin: auto;
    background: url(semi-resid.jpg) no-repeat center fixed; 
    background-size: cover; 
	position: relative;
	background-attachment: relative; 
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: $font;
    overflow: auto;
	
}

.mon_formulaire_fieldset{
   
   
   border:none;
   background: #F0EEE9;
   border-radius:10px;
   padding:20px;
   background-attachment: relative;
   position: relative;
   opacity: 0.95;
}



.mon_formulaire_input{
   display:inline-block;
   width:200px;
   padding:6px;
   margin-left: 30%;
}

.mon_formulaire_champ{
   outline:none;
   border:solid 1px #AAAAAA;
   padding:10px;
   border-radius:4px;
   font-family:Monotype Corsiva;
}

input[type="text"].mon_formulaire_champ:focus, input[type="password"].mon_formulaire_champ:focus{
   background-color:#FFEBD1;
}

input[type="submit"].mon_formulaire_champ{
   background-color:#384454;
   color:#FFFFFF;
   padding:6px 20px 6px 20px;
   border:none;
   cursor:pointer;
   padding:10px;
   width:160px;
   font-size: 17pt;
   margin-top: 15%;
}

header {
    margin: 2% auto 10% auto;
    text-align: center;
}

header h2 {
    font-size: 250%;
    font-family: Monotype Corsiva;
    color: #3e403f;
}

p {
	font-family: Monotype Corsiva;
}